pkgbase = ayaled-updated
	pkgdesc = A daemon to manage joystick LEDs on AYANEO devices, updated fork.
	pkgver = 0.6.0
	pkgrel = 1
	arch = x86_64
	makedepends = cargo
	provides = ayaled
	conflicts = ayaled
	conflicts = ayaled2

pkgname = ayaled-updated
